/* Estilo general */
body {
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #3b0032;
    line-height: 1.6;
    text-align: center;
}

#carga_obras, #tabla_obras, #modificar, #detalles {
    margin-top: 50px; 
    padding: 20px 0px; 
}

/* Formulario */
fieldset {
    border: 2px solid #7d2948;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b0032;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    color: #3b0032;
    
}

p {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: left;
    color: #3b0032;
}

input[type="text"], input[type="file"], input[type="number"], select, textarea  {
    width: 100%;
    padding: 10px;
    margin: 5px -15px;
    border: 1px solid #7d2948;
    border-radius: 5px;
    font-size: 0.9rem;
}

input[type="submit"] {
    background-color: #7d2948;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #3b0032;
}

/* Tabla de artistas */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #7d2948;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #7d2948;
    text-align: center;
}

td a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #7d2948;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

td a:hover {
    background-color: #3b0032;
}

#sugerencias {
    border: 1px solid #ccc;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    position: absolute;
    z-index: 10;
    width: 300px;
}

.sugerencia {
    padding: 8px;
    cursor: pointer;
}

.sugerencia:hover {
    background-color: #f0f0f0;
}
.sugerencia {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sugerencia:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}